extends layout

block content
    h1= title
    p Welcome to the observations page

    // Wrapper
    #wrapper

    // OBSERVATIONS
    h2 Observations
    #observations
        table
            thead
                th ObservationID
                th Comment 
                th TimeStamp 
                th ObservationType
                th AccX
                th AccY
                th AccZ
                th AngX
                th AngY
                th AngZ
                th MagX
                th MagY
                th MagZ                 
            tbody
    // /OBSERVATIONS

    // /WRAPPER

